.cdk-drag-drop-demo {
    width: 85vw;
    margin: 20px auto;
    border: 1px solid #eee;
    padding: 20px;
}

.demo-section-container {
    margin-top: 20px;
    display: flex;
}

.example-container {
    width: 300px;
    max-width: 100%;
}

.example-list {
    width: 100%;
}

.drag-container-box {
    .cdk-drop-list-dragging {
        border-radius: 4px;
        border: 1px dashed #ff7575 !important;
    }

    .cdk-drop-list-receiving-disabled {
        border-radius: 4px;
        border: 1px dashed #ff7575 !important;
    }

    .cdk-drop-list-receiving {
        border-radius: 4px;
        border: 1px dashed #6698ff !important;
    }
}

.example-box {
    width: 200px;
    height: 200px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

// .example-custom-placeholder {
// height: 1px;
// min-height: unset;
// padding: 0 3px;
// background-color: #6698ff !important;
// margin-bottom: 0;
// }

.cdk-drag-placeholder {
    height: 0px;
    &::after {
        content: '';
        display: block;
        height: 1px;
        background-color: #6698ff !important;
    }
}
