<section class="cdk-drag-drop-demo">
    <h4>Drag&Drop enter predicate</h4>
    <div class="demo-section-container">
        <div class="example-container mr-9">
            <p>Available lists</p>

            <div
                id="all"
                cdkDropList
                [cdkDropListData]="dragData"
                cdkDropListSortingDisabled
                [cdkDropListConnectedTo]="[listOne, listTwo]"
                class="example-list"
                [cdkDropListEnterPredicate]="noReturnPredicate"
            >
                <thy-list>
                    <ng-container *ngFor="let item of dragData">
                        <thy-list-item
                            cdkDragPreviewClass="menu-item-cdk-preview"
                            [cdkDragData]="item"
                            cdkDrag
                            (cdkDragStarted)="dragStarted($event)"
                            (cdkDragEnded)="dragEnded($event)"
                        >
                            <span class="list-item-name">{{ item.name }}</span>
                        </thy-list-item>
                    </ng-container>
                </thy-list>
            </div>
        </div>

        <div class="drag-container-box ml-8">
            <div class="example-container">
                <p>Even lists</p>

                <div
                    id="cols"
                    #listOne="cdkDropList"
                    cdkDropList
                    [cdkDropListData]="selectedData"
                    cdkDropListConnectedTo="all"
                    class="example-list"
                    (cdkDropListDropped)="drop($event, 'cols')"
                    [cdkDropListEnterPredicate]="evenPredicate"
                >
                    <ng-container *ngFor="let item of selectedData">
                        <thy-list-item class="item" cdkDragPreviewClass="menu-item-cdk-preview" [cdkDragData]="item" cdkDrag>
                            <span class="list-item-name">{{ item.name }}</span>
                        </thy-list-item>
                    </ng-container>
                </div>
            </div>

            <div class="example-container mt-5">
                <p>another lists</p>

                <div
                    id="rows"
                    cdkDropList
                    #listTwo="cdkDropList"
                    [cdkDropListData]="anotherSelectedData"
                    cdkDropListConnectedTo="all"
                    class="example-list"
                    (cdkDropListDropped)="drop($event, 'rows')"
                    [cdkDropListEnterPredicate]="evenPredicateAnother"
                >
                    <ng-container *ngFor="let item of anotherSelectedData">
                        <thy-list-item class="item" cdkDragPreviewClass="menu-item-cdk-preview" [cdkDragData]="item" cdkDrag>
                            <span class="list-item-name">{{ item.name }}</span>
                        </thy-list-item>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</section>
