.app-container {
  padding: 20px;
  display: flex;

  .demo-item {
    width: 100px;
    height: 40px;
    background: #e7f9f6;
    line-height: 40px;
    text-align: center;
    margin-right: 20px;

    a {
      text-decoration: none;
    }
  }
}

.app-cdk-scrolling {
  margin: {
    top: 50px;
    bottom: 50px;
    left: 25px;
  }

  .scrolling-parent {
    height: 400px;
    width: 200px;
    border: 1px solid black;
    padding: 8px;
    overflow-y: auto;

    .scrolling-item {
      height: 30px;
    }
  }
}
