.cdk-scrolling-demo {
    padding: 30px;
    .cdk-scrolling-basic {
        margin: {
            top: 10px;
            left: 25px;
        }

        .scrolling-parent {
            height: 300px;
            width: 200px;
            border: 1px solid black;
            padding: 8px;
            overflow-y: auto;

            .scrolling-item {
                height: 30px;
            }
        }

        &.cdk-scrolling-virtual {
            .example-viewport {
                height: 300px;
                width: 200px;
                border: 1px solid black;
            }

            .example-item {
                height: 50px;
            }

            .example-item-detail {
                margin: 4px 0;
                padding: 4px 0;
                height: 18px;
            }

            .example-alternate {
                background: rgba(127, 127, 127, 0.3);
            }

            .example-dt {
                height: 30px;
                font-weight: bold;
            }

            .example-dd {
                height: 30px;
                padding-left: 20px;
            }
        }
    }
}

.cdk-virtual-scroll-data-source-example {
    .cdk-virtual-scroll-orientation-horizontal .cdk-virtual-scroll-content-wrapper {
        display: flex;
        flex-direction: row;
    }
}

.cdk-virtual-scroll-data-source-example .example-viewport {
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

.cdk-virtual-scroll-data-source-example .example-viewport .cdk-virtual-scroll-content-wrapper {
    display: flex;
    flex-direction: row;
}

.cdk-virtual-scroll-data-source-example .example-item {
    width: 50px;
    height: 100% !important;
    writing-mode: vertical-lr;
}

#scroll-container {
    width: 300px;
    height: 200px;
    padding: 20px;
    overflow: auto;
    border: 1px solid #eee;
}
